$dark-purple: #5347cf;
$light-purple: #e3e0f4;
$grey: #ececf2;
$light-grey: #f6f6f9;
$black: #141417;

/* Contextual tokens */
$accent: $dark-purple;
$accordion: $grey;
$details-banner: $light-grey;
$page-background: $light-grey;
$plan-border: $light-purple;
$upsell-banner: $light-grey;
$footer: $black;
$sticky-footer: $dark-purple;
$primary-cta-border: $light-grey;
$primary-cta-text: $black;
$hero-background: $dark-purple;
