---
import Plan from "../components/Plan.astro";
---

<ul class="plans">
  <li>
    <Plan />
  </li>
  <li>
    <Plan />
  </li>
  <li>
    <Plan />
  </li>
  <li>
    <Plan />
  </li>
  <li>
    <Plan />
  </li>
  <li>
    <Plan />
  </li>
</ul>

<style lang="scss">
  .plans {
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(2rem, 4vw, 5rem);

    @media (min-width: 40.625rem) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 75rem) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
