---
import Plan from "../components/Plan.astro";
---

<ul class="plans">
  <li>
    <Plan />
  </li>
  <li>
    <Plan />
  </li>
  <li>
    <Plan />
  </li>
  <li>
    <Plan />
  </li>
  <li>
    <Plan />
  </li>
  <li>
    <Plan />
  </li>
</ul>

<style>
  .plans {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
  }
</style>
